<div class="host">
    <app-wrapper-list [item]="items" (itemClick)="onItemClick($event)" *ngIf="!loading"></app-wrapper-list>
    <div class="ui segment" *ngIf="loading" style="height:300px">
        <div class="ui active inverted dimmer" >
            <div class="ui text loader">Loading</div>
        </div>
        <p></p>
    </div>
</div>
<app-navigation-eve [total]="totaldata" *ngIf="totaldata > 0" (onChange)="onNavChange($event)" [resetPage]="resetPage" ></app-navigation-eve>
