<div class="login">
    <div class="logo">
        gracz
    </div>
    <form class="error" [formGroup]="formG">
        <div class="ui input">
            <input type="text" placeholder="Username" formControlName="username">
        </div>
        <div class="ui error message" invalidmessage="username">
            <p *invalidType="'required'">กรุณาใส่ username</p>
        </div>
        <div class="ui input">
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <div class="ui error message" invalidmessage="password">
            <p *invalidType="'required'">กรุณาใส่ password</p>
        </div>
        <div class="right">
            <div class="ui checkbox">
                <label>Remember me</label>
                <input type="checkbox" formControlName="isSave">
            </div>
        </div>
        <div class="center">
            <button type="submit" class="green ui button" [ngClass]="{loading: loading, diabled: loading}" (click)="login()">Log in</button>
        </div>
        <div class="ui error message" *ngIf="ispasswrong && hasSubmit">
            <p>username หรือ password ไม่ถูกต้อง</p>
        </div>
    </form>
</div>