.login {
    // padding-top: ;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    .logo {
        width: 100%;
        height: 150px;
        margin: 50px auto 10px;
        background-color: lightgreen;
        visibility: hidden;
    }
    form {
        width: 100%;
        margin: 0 auto;
        .input {
            margin: 20px 0 0 0;
            display: block;
            input {
                width: 100%;
                border: none;
                background-color: #F5FAF8;
            }
        }
        .checkbox {
            margin: 15px 0;
            label {
                line-height: 20px;
                font-size: .95em!important;
                color: gray;
            }
        }
        button {
            margin-top: 20px;
            width: 100%;
        }
    }
}