<app-step-customer current="general" ></app-step-customer>
<app-general-form *ngIf="isFullFillComplete;else loading" (onSubmit)="onSubmit($event)" [prefilldata]="prefillData"></app-general-form>
<ng-template #loading>
    <div class="ui segment minheight-m" >
        <div class="ui active loader"></div>
        <p></p>
    </div>
</ng-template>