<app-order-product-list [extendcolumn]="actionbuttons"></app-order-product-list>
<ng-template #actionbuttons let-cfitem="cfitem">
    <div class="ui icon buttons">
        <view-table-btn (click)="viewProduct(cfitem)"> </view-table-btn>
    </div>
</ng-template>