<div class="general-form">
  <form class="ui error form" [formGroup]="formg" (ngSubmit)="submit()">
    <h3 class="ui header">รายละเอียดสินค้า</h3>
    <div class="field">
      <label>
        ชื่อลูกค้า
        <i class="red"> * </i>
      </label>
      <div class="ui input">
        <input type="text" placeholder="ชื่อลูกค้า" formControlName="customerName" [attr.disabled]="isDisable? 'disabled':null">
      </div>
      <div class="ui error message" invalidmessage="customerName">
        <p *invalidType="'required'">{{errorMsg.required}}</p>
      </div>
    </div>
    <div class="field">
      <label>
        ชื่อผู้ติดต่อ
        <i class="red"> * </i>
      </label>
      <div class="ui input">
        <input type="text" placeholder="ชื่อผู้ติดต่อ" formControlName="contactName" [readonly]="isDisable">
      </div>
      <div class="ui error message" invalidmessage="contactName">
        <p *invalidType="'required'">{{errorMsg.required}}</p>
      </div>
    </div>
    <div class="field">
      <label>
        เบอร์โทรศัพท์
        <i class="red"> * </i>
      </label>
      <app-multi-phone classname="ui input" formControlName="phoneData" (onDelete)="onDelete($event)" [attr.disabled]="isDisable? 'disabled':null"></app-multi-phone>
      <div class="ui error message" invalidmessage="phoneData">
        <p *invalidType="'phonecomplete'">กรุณากรอกเบอร์โทรให้ครบ</p>
      </div>
    </div>
    <div class="field">
      <label>
        เบอร์แฟกซ์
      </label>
      <div class="ui input">
        <input type="text" appOnlyNumber placeholder="เบอร์แฟกซ์" [formControl]="formg.get('faxNumber')" [attr.disabled]="isDisable? 'disabled':null">
      </div>
    </div>
    <div class="field">
      <label>
        E-mail
      </label>
      <div class="ui input">
        <input type="text" placeholder="อีเมลล์" formControlName="email" [attr.disabled]="isDisable? 'disabled':null">
      </div>
      <div class="ui error message" invalidmessage="email">
        <p *invalidType="'email'">{{errorMsg.email}}</p>
      </div>
    </div>
    <div class="field">
      <label>
        ประเภทธุรกิจ
        <i class="red"> * </i>
      </label>
      <sm-select placeholder="ประเภทธุรกิจ" [control]="formg.get('businessType')" [disabled]="isDisable">
        <option [value]="bustype.id" *ngFor="let bustype of bussinessType"> {{bustype.text}}</option>
      </sm-select>
      <div class="ui error message" invalidmessage="businessType">
        <p *invalidType="'required'">{{errorMsg.required}}</p>
      </div>
    </div>
    <div class="field">
      <label>
        เขตการขาย
        <i class="red"> * </i>
      </label>
      <sm-select placeholder="เขตการขาย" [control]="formg.get('customerZone')" [disabled]="isDisable">
        <option [value]="cusZone.id" *ngFor="let cusZone of customerZone"> {{cusZone.text}}</option>
      </sm-select>
      <div class="ui error message" invalidmessage="customerZone">
        <p *invalidType="'required'">{{errorMsg.required}}</p>
      </div>
    </div>
    <div class="field">
      <label>
        เลขผู้เสียภาษี
        <i class="red"> * </i>
      </label>
      <div class="ui input">
        <input type="text" placeholder="เลขผู้เสียภาษี" appOnlyNumber [formControl]="formg.get('taxID')" [attr.disabled]="isDisable? 'disabled':null">
      </div>
      <div class="ui error message" invalidmessage="taxID">
        <p *invalidType="'required'">{{errorMsg.required}}</p>
      </div>
    </div>
    <div class="field">
      <label>
        รหัสเซลล์
        <i class="red"> * </i>
      </label>
      <sm-select placeholder="รหัสเซลล์" [control]="formg.get('sellID')" [disabled]="isDisable">
        <option [value]="sale.id" *ngFor="let sale of sales; let i = index;"> {{sale.text}}</option>
      </sm-select>
      <div class="ui error message" invalidmessage="sellID">
        <p *invalidType="'required'">{{errorMsg.required}}</p>
      </div>
    </div>
    <div class="field center">
      <button class="ui green button" type="submit">ถัดไป</button>
    </div>
  </form>
</div>
