<div class="profile">
    <div class="info">
        <div class="pic_container">
            <app-cf-upload-image [url]="urlupload" [imagepreview]="imagepreview" (success)="uploadSuccess($event)" (error)="uploadError($event)"></app-cf-upload-image >
            <ng-template #imagepreview let-imageObj let-loading="loading" let-openFileUpload="openFileUpload">
                <cf-preview-image [src]="'http://'+imageObj?.absolute" [hasUploaded]="imageObj?.absolute" [initialImage]="data.pic?.url" (click)="openFileUpload()"></cf-preview-image>
            </ng-template> 
        </div>

        <div class="name">
            <p>{{data?.name}}</p>
        </div>
        <div class="username">
            <p>{{data?.username}}</p>
        </div>
        <div class="changePass clickable" [routerLink]="['/resetpass']">
            <p>เปลี่ยนรหัสผ่าน</p>
        </div>
    </div>
    <div class="edit_boxs">
        <div class="triangle"></div>
        <app-edit-box-phone [value]="data?.phone" editable="true" (save)="onSavePhone($event, phone)" (edit)="onEdit($event, phone)" #phone>
            <i class="icon phone"></i>
            <span>Mobile Number</span>
        </app-edit-box-phone>
        <app-edit-box [value]="data?.email">
            <i class="icon mail"></i> 
            <span>Email</span>
        </app-edit-box>
        <app-edit-box [value]="data?.line_id" editable="true" (save)="onSaveLine($event, line)" (edit)="onEdit($event, line)" #line>
            <i class="icon mobile"></i>
            <span>Line ID</span>
        </app-edit-box>
    </div>
</div>