<div class="ui floated pagination menu {{class}}">
  <a class="icon item" *ngFor="let page of page_available" (click)="setPage(page.value,true)" [ngClass]="{'active':page.isCurrent}">
      {{page.label}}
  </a>
</div>