<app-sub-topbar>
    <div class="half">
        <app-search (onChange)="searchChange($event)"></app-search>
        <app-status (onChange)="statusChange($event)" [statuslist]="filter.statusList"></app-status>
    </div>
</app-sub-topbar>