<div class="ui search">
    <div class="ui icon input">
        <input class="fluid" type="text" placeholder="search.." [formControl]="seachinput">
        <i class="search icon"></i>
    </div>
    <div class="result"></div>
</div>