div.profile{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    margin:0 auto;
    position: relative;
    cursor: pointer;
    border:1px solid rgba(0,0,0,.2);
    background-color: #eff2ed;
    &:hover {
        &:before {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
            content: '';
            background-color: rgba(0,0,0,0.15);
            position: absolute;
            left:0;
            top:0;
            z-index:3;
        }
        .photo {
            display: block;
        }
    }
    .photo {
        display: none;
        color: white;
        font-size: 50px;
        position: absolute;
        top:59%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index:4;
    }
    .user{
        position:absolute;
        display: block;
        left:50%;
        top:70%;
        font-size: 100px;
        transform: translate(-50%,-50%);
        z-index:1;
        color:#6e913f;
    }
}

