<cftable [control]="control" class="link" (onClickColumn)="clickColumn($event)"></cftable>

<div class="cf-nav" *ngIf="dataTotal > 0">
    <cf-pagination [cfpagination]="control.getPagination()" [(ngModel)]="currentPage"></cf-pagination>
    <cf-sizination [cfsizination]="control.getSizination()" [(ngModel)]="currentSize" class="sizination" [class]="'sizination'"></cf-sizination>    
</div>