<div class="address-form">
    <form class="ui error form" [formGroup]="formg" (ngSubmit)="submit()">
        <h3 class="ui header">รายละเอียดที่อยู่</h3>
        <h4>ที่อยู่ออกบิล</h4>
        <app-single-address formControlName="billAddress" [attr.disabled]="isDisabled? 'disabled':null"></app-single-address>
        <div class="ui error message" invalidmessage="billAddress">
            <p *invalidType="'addresscomplete'">กรุณากรอกข้อมูลที่อยู่ออกบิลให้ครบ</p>
        </div>
        <h4>ที่อยู่จัดส่ง</h4>
        <app-multi-address formControlName="shipAddress" (onDelete)="onDelete($event)" (billToShip)="billToShip($event)" [attr.disabled]="isDisabled? 'disabled':null"></app-multi-address>
        <div class="ui error message" invalidmessage="shipAddress">
            <p *invalidType="'multiaddrcomplete'">กรุณากรอกข้อมูลที่อยู่จัดส่งให้ครบ</p>
        </div>
        <div class="field center">
            <button class="ui button grey" type="button" (click)="back()"><i class="icon chevron left"></i></button>
            <button class="ui button green" type="submit">ถัดไป</button>
        </div>
    </form>
</div>