<!--<ul>
  <li >
    <a href="{{item.url}}"></a>
  </li>
</ul>-->

<div class="ui middle aligned selection list">
  <div class="item" *ngFor="let item of items; let i = index" (click)="open(item.url)">
    <img *ngIf="isImage(item.url)" class="ui avatar image" src="{{item.url}}">
    <img *ngIf="!isImage(item.url)" class="ui avatar image" style="border-radius:0px;" src="./assets/file.png">
    <div class="content">
      {{item.name}}
    </div>
    <button type="button" (click)="delete($event,item,i)">ลบ</button>
  </div>
  
</div>