@mixin B2C($size) {
	width: 50px;
	height: 50px;
	&:before,&:after,span {
		transition: all 0.5s;
		display: block;
		width: 30px;
		height: 10%;
		background-color: white;
		position: absolute;
		left: 50%;
	}
	&:before {
		content: "";
		top: 30%;
		transform: translate(-50%, 0);
	}
	&:after {
		content: "";
		bottom: 26%;
		transform: translate(-50%, 0);
	}
	span {
		top: 52%;
		transform: translate(-50%, -50%);
	}
}

.active_B2C {
	&:before {
		top: 50%!important;
		transform: translate(-50%, -50%) rotateZ(45deg)!important;
	}
	&:after {
		bottom: 50%!important;
		transform: translate(-50%, 50%) rotateZ(-45deg)!important;
	}
	span {
		width: 0px!important;
	}
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#192a36+0,28465b+100 */
    background: rgb(25,42,54); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(25,42,54,1) 0%, rgba(40,70,91,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(25,42,54,1) 0%,rgba(40,70,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(25,42,54,1) 0%,rgba(40,70,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192a36', endColorstr='#28465b',GradientType=1 ); /* IE6-9 */
    padding: 0 10px;
    text-align: center;
    height: 50px;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    .sidebarToggle {
        @include B2C(50px);
        position: absolute;
        top: -2px;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }
    .title {
        transition: 1s all;
        padding-top: 10px;
        position: absolute;
        right: 50%;
        transform: translate(50%);
        @media only screen and (min-width: 1200px) {
            padding-left: 120px;
        }
        h2 {
            font-weight: 500;
            white-space: nowrap;
        }
    }
    .plus {
        transition: 1s all;
        position: absolute;
        right: 4px;
    }
    .mu_button {
        width: 50px;
        height: 50px;
        font-size: 28px;
        padding-top: 16px;
        &:hover {
            font-size: 36px;
            cursor: pointer;
        }
    }
}
.sidebarOpen {
    @media only screen and (max-width: 1200px) {
        .title {
            right: 20px;
            transform: translate(0,0)
        }
        .plus {
            right: -60px;
        }
    }
}
