<header [ngClass]="{'sidebarOpen': sidebarState}">
    <div class="sidebarToggle" (click)="menuClick()" [ngClass]="{active_B2C: sidebarState}" #sbToggle>
        <span></span>
    </div>
    <div class="mu_button plus" *ngIf="state.hasButton" (click)="addClick()"><i class="plus icon"></i></div>
    <div class="title"><h2>{{state?.title}}</h2></div>
</header>