<div class="cus_detail" *ngIf="customer">
    <div class="cus_identify">
        <div class="line">
            <p class="left">ชื่อ-สกุล</p>
            <p class="right">{{customer.name}}</p>
        </div>
        <div class="line">
            <p class="left">รหัส</p>
            <p class="right">{{customer.code}}</p>
        </div>
        <div class="line">
            <p class="left">ประเภทธุรกิจ</p>
            <p class="right">{{customer.businessType}}</p>
        </div>
    </div>
    <div class="order_product">
        <button class="yellow ui button" (click)="order_product()">+ สั่งซื้อสินค้า <i class="add to cart icon"></i></button>
    </div>
    <h3 class="ui header">รายละเอียดลูกค้า</h3>
    <div class="cus_info">
        <div class="line">
            <p class="left">เบอร์โทร</p>
            <p class="right">{{customer.tel}}</p>
        </div>
        <div class="line">
            <p class="left">เลขผู้เสียภาษี</p>
            <p class="right">{{customer.taxpayer}}</p>
        </div>
        <div class="line">
          <p class="left">เขตการขาย</p>
          <p class="right">{{customer.customer_zone}}</p>
        </div>
        <div class="line">
            <p class="left">รหัสเซลล์</p>
            <p class="right">{{customer.sale_code}}</p>
        </div>
        <div class="line">
            <p class="left">ที่อยู่ (สำหรับออกบิล)</p>
            <p class="right">{{customer.bill_addr}}</p>
        </div>
        <div class="line">
            <p class="left">ที่อยู่ (สำหรับจัดส่ง)</p>
            <div class="right" *ngIf="customer.ship_addrs.length != 0">
                <p *ngFor="let addr of customer.ship_addrs">
                    {{addr}}
                </p>
            </div>
            <p *ngIf="customer.ship_addrs.length === 0"> - </p>
        </div>
        <div class="line">
            <p class="left">ส่วนลดการขาย</p>
            <p class="right">{{customer.sale_discount}}</p>
        </div>
        <div class="line">
            <p class="left">วิธีชำระเงิน</p>
            <p class="right">{{customer.payment_method}}</p>
        </div>
        <div class="line">
            <p class="left">เงื่อนไขการวางบิล</p>
            <p class="right">{{customer.bill_condition}}</p>
        </div>
        <div class="line">
            <p class="left">เงื่อนไขการรับเช็ค</p>
            <p class="right">{{customer.cheque_condition}}</p>
        </div>
        <div class="line">
            <p class="left">วงเงินเครดิตที่ต้องการ</p>
            <p class="right">{{customer.credit_loan}}</p>
        </div>
        <div class="line">
            <p class="left">ยอดที่คาดหวังต่อเดือน</p>
            <p class="right">{{customer.credit_expected}}</p>
        </div>
        <div class="line">
            <p class="left">หมายเหตุ</p>
            <p class="right">{{customer.remark}}</p>
        </div>
        <div class="line">
            <p class="left">สมัครเมื่อ</p>
            <p class="right">{{customer.registered_date}}</p>
        </div>
        <div class="line">
            <p class="left">ไฟล์แนบ</p>
            <div class="right mu_link" *ngIf="customer.files.length != 0">
                <p class="clickable" *ngFor="let file of customer.files" (click)="open(file.ref)">
                    {{file.name}}
                </p>
            </div>
            <p class="right" *ngIf="customer.files.length === 0"> - </p>
        </div>
    </div>
</div>