.cus_detail {
    width: 100%;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .cus_identify {
        font-size: 18px;
        p {
            margin-bottom: 10px;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .cus_info {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .order_product {
        button {
            padding: 12px 12px;
            i {
                margin-left: 10px;
            }
        }
    }
}
.line {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.left {
    width: 120px;
    float: left;
    margin-right: 10%;
}
.right {
    width: calc(90% - 120px );
    float: right;
    text-align: left;
}
p {
    margin-bottom: 1em;
    font-family: 'Quark-Light';
}
.mu_link {
    text-decoration: underline;
}