<app-customer-detail [customer]="customerData" (onOrder)="order()"></app-customer-detail>
<h3 class="ui header">ประวัติการสั่งซื้อ</h3>
<app-ordercus-table></app-ordercus-table>
<div class="center wrapper-btn">
    <button class="ui grey button" (click)="back()">ย้อนกลับ</button>
</div>