<button (click)="testlogin(false)">TEST LOGIN</button>
<button (click)="testlogin(true)">TEST LOGIN with Save</button>
<button (click)="loginJwt(false)"> TEST LOGIN JWT</button>
<button (click)="loginJwt(true)"> TEST LOGIN JWT WITH SAVE</button>
<button [routerLink]="['/test']"> GO to test</button>
<button (click)="logout()"> Log out</button>
