<div>
    <p class="right">Last Update: {{time_stamp}}</p>
    <cftable [control]="control" [extendColumn]="extendcolumn" class="inventory"></cftable>
    <cf-pagination [cfpagination]="control.getPagination()" [(ngModel)]="currentPage"></cf-pagination>
    <cf-sizination [cfsizination]="control.getSizination()" [(ngModel)]="currentSize" class="sizination" [class]="'sizination'"></cf-sizination>    
</div>