<app-order-form-edit-container *ngIf="!loading">
    <div class="wrap">
        <div class="add_product">
                <button class="ui button yellow" (click)="add_product()">+ เพิ่มรายการสินค้า</button>
            </div>
            <div class="close_product">
                <button class="ui button red" (click)="close_product()" *ngIf="this.orderprefill.getPrefillData().status_text != 'ปิด'">ปิดการสั่งซื้อ</button>
            </div>
    </div>
</app-order-form-edit-container>

