<div [formGroup]="groupAddress">
    <div formArrayName="addresses">
        <ng-container *ngFor="let address of addrCtrls; let i = index">
            <i class="clickable minus circle icon red" (click)="del_address(i)" *ngIf="addrCtrls.length > 1"> ลบที่อยู่</i>
            <div class="ui checkbox">
                <input type="checkbox" #checkbox [checked]="address.value.isBill" (change)="fillAddress(i)" [attr.disabled]="(i !== b2sIndex && ischecked)? 'disabled':null">
                <label>ใช้ที่อยู่เดียวกับที่อยู่ออกบิล</label>
            </div>
            <app-single-address hasCheckbox="true" [formControl]="address" [disabled]="(i == b2sIndex) && ischecked"></app-single-address>
            <div class="ui divider"></div>
        </ng-container>
    </div>
</div>
<p class="clickable" (click)="add_address()">+ <span>เพิ่มที่อยู่</span></p>