.edit_box {
    width: 100%;
    background-color: #F8F6F6;
    &:hover {
        background-color: #E9E9E9;
        .value {
            .edit_btn {
                text-decoration: underline;
            }
        }
    }
    .info {
        width: 100%;
        height: 80px;
        position: relative;
        .label {
            font-family: 'Quark-Bold';
            letter-spacing: 1px;
            width: 200px;
            font-size: 18px;
            text-align: left;
            position: absolute;
            top: 50%;
            left: calc(50% - 200px);
            transform: translate(0, -50%);
        }
        .value {
            text-align: left;
            width: calc(50% - 59px);
            font-size: 1.2em;
            color: #A8AAAC;
            position: absolute;
            top: 50%;
            right: 59px;
            transform: translate(0, -50%);
        }
        .edit_btn {
            display: none;
            font-size: 16px;
            letter-spacing: .5px;
            font-family: 'Quark-Bold';
            color: #66A610;
            position: absolute;
            top: 50%;
            right: 33px;
            transform: translate(0, -50%);
        }
        .editable {
            display: block;
        }
        @media only screen and (max-width: 425px) {
            height: 100px;
            .label {
                width: auto;
                top: 15px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .value {
                width: 100%;
                top: 60px;
                left: 0;
                transform: translate(0, 0);
                text-align: center;
            }
        }
    }
    form {
        display: none;
        &> div {
            .code {
                width: 60px;
            }
            input {
                padding: 5px 10px;
            }
            button {
                margin: 1em 0;
                padding: 8px 20px;
            }
        }
    }
}
.activated {
    background-color: #E9E9E9;
    .value, .edit_btn {
        visibility: hidden;
    }
    form {
        display: block;
    }
    @media only screen and (max-width: 425px) {
        .info {
            height: 50px;
        }
    }
}