<div class="edit_box clickable" [ngClass]="{'activated': activated}">
    <div class="info" (click)="onClick()">
        <div class="label">
            <ng-content></ng-content>
        </div>
        <div class="value">
            <span>{{value}}</span>
        </div>
        <div class="edit_btn" [ngClass]="{'editable': editable}">
            edit
        </div>
    </div>
    <form>
        <div class="ui input">
            <input type="text" [formControl]="input">
        </div>
        <div>
            <button class="ui button green" (click)="onSave()">Save</button>
        </div>
    </form>
</div>