.prefix-phoneNum {
    width: 70px!important;
    margin-bottom: 1em;
}

.phoneNum {
    width: calc(99% - 120px)!important;
    margin-bottom: 1em;
}

span {
    font-size: 16px;
    text-decoration: underline;
}