<ng-container *ngFor="let phone of phones; let i = index">
    <div class="prefix-phoneNum {{classname}}">
        <input type="tel" maxlength="4" placeholder="+66" [formControl]="phone.country_code" (input)="onChange()" appOnlyNumberAndPlus prefixCountryCode>
    </div>
    <div class="phoneNum {{classname}}">
        <input type="tel" placeholder="123456789" [formControl]="phone.mobile_number" (input)="onChange()" appNumberAndDash>
    </div>
    <i class="minus circle icon red clickable" *ngIf="i!=0" (click)="del_number(i)"></i>
</ng-container>
<p class="clickable" (click)="add_number()">+ <span>เพิ่มเบอร์โทรศัพท์</span></p>
