<app-order-product-list [extendcolumn]="actionbuttons"></app-order-product-list>
<ng-template #actionbuttons let-cfitem="cfitem">
    <div class="ui icon buttons">
        <view-table-btn (click)="viewProduct(cfitem)"> </view-table-btn>
        <edit-table-btn (click)="editProduct(cfitem)"> </edit-table-btn>
        <del-table-btn (click)="deleteProduct(cfitem)"> </del-table-btn>
    </div>
</ng-template>