<div class="reset_pass">
    <form class="ui form" [ngClass]="{error: formg.invalid || errorMsg}" [formGroup]="formg" (ngSubmit)="submit()">
        <div class="ui error message" *ngIf="errorMsg">
            <p>{{errorMsg}}</p>
        </div>
        <div class="field">
            <label>Your Current Password <i class="red">*</i></label>
            <input type="password" placeholder="Current Password" formControlName="curPass" [attr.disabled]="loading? '': null">
        </div>
        <div class="ui error message" invalidmessage="curPass">
            <p *invalidType="'required'">กรุณากรอกรหัสผ่านปัจจุบัน</p>
        </div>
        <div class="field">
            <label>New Password <i class="red">*</i></label>
            <input type="password" placeholder="New Password" formControlName="newPass" [attr.disabled]="loading? '': null">
        </div>
        <div class="ui error message" invalidmessage="newPass">
            <p *invalidType="'required'">กรุณากรอกรหัสผ่านใหม่</p>
        </div>
        <div class="field">
            <label>Confirm New Password <i class="red">*</i></label>
            <input type="password" placeholder="Confirm Password" formControlName="renewPass" [attr.disabled]="loading? '': null">
        </div>
        <div class="ui error message" invalidmessage="renewPass">
            <p *invalidType="'required'">กรุณายืนยันรหัสผ่านใหม่</p>
            <p *invalidType="'validateEqual'">รหัสผ่านใหม่ไม่ถูกต้อง</p>
        </div>
        <div class="center">
            <button class="ui button green" type="submit" [ngClass]="{loading: loading}">Save</button>
        </div>
    </form>
</div>