  <div class="section" *ngIf="uploader.isUploading">
    <p class="uploading_text">ไฟล์กำลังอัพโหลด...</p>
    <ul>
      <ng-container *ngFor="let item of uploader.queue ;let i = index">
        <li *ngIf="!item.isUploaded">
            <sm-progress [progress]="item.progress"></sm-progress>
            <div class="label">{{item.file.name}}</div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="btn-container">
    <div class="fileUpload btn btn-primary btn-lg btn-block">
      <span>อัพโหลดไฟล์</span>
      <input type="file" ng2FileSelect name="filename" [uploader]="uploader" class="upload">
   </div>
  </div>