<app-order-form [prefilldata]="prefillData" [type]="type">
        <ng-content></ng-content> 
        
    <app-order-productlist-view-container ></app-order-productlist-view-container>
</app-order-form>