.payment-form {
    label {
        width: 100%;
    }
    .fields {
        padding-left: 10px;
    }
    .mu_choice {
        padding-left: 15px;
        width: 100%;
        &:first-of-type {
            margin-top: 7px;
        }
        .field {
            .radio {
                padding-left: 15px;
                input[type=text] {
                    width: 56px!important;
                    vertical-align: baseline;
                }
                .mu_postfix {
                    font-style: normal;
                    padding: 11.857px 5px;
                    line-height: 38px;
                }
            }
        }
    }
    .field {
        label {
            font-size: 1rem;
        }
    }
    .ui.input {
        display: block;
    }
    .mu_uploader {
        .mu_uploadbox {
            width: 100%;
            height: 75px;
            background: #eaeaea;
            margin-bottom: 15px;
            padding-top: 50px;
            text-align: center;
            border-radius: 5px;
            position: relative;
            .cloud.upload {
                font-size: 50px;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .label{
            margin-bottom: 15px;
        }
        app-uploadlist{
            padding-top:10px;
            display: block;
        }
    }
    .field.center {
        margin-top: 15px;
    }
    
}