<div class="payment-form">
    <form class="ui error form" #formref="ngForm" [formGroup]="formg" (ngSubmit)="submit()">
        <h3 class="ui header">รายละเอียดการชำระเงิน</h3>
        <div class="field">
            <label>ส่วนลดการขาย</label>
            <div class="grouped field mu_choice">
                <div class="radio">
                    <label>
                        <input type="radio" name="discount_type" formControlName="discount_type" [value]="1"  [attr.disabled]="isDisabled? 'disabled':null" #discount>
                        ส่วนลดปกติ
                    </label>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="discount_value" value="5" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="discount.checked? null:'disabled'">
                            5%
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="discount_value" value="10" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="discount.checked? null:'disabled'">
                            10%
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="discount_value" value="15" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="discount.checked? null:'disabled'">
                            15%
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="discount_value" value="20" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="discount.checked? null:'disabled'">
                            20%
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="discount_value" value="order" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="discount.checked? null:'disabled'">
                            <input type="text" appLetterAndComma pattern="\d*" maxlength="3" (input)="checkRadio()" [attr.disabled]="isDisabled? 'disabled':null" [formControl]="filled_discount" [attr.disabled]="discount.checked? null:'disabled'" ><i class="mu_postfix">%</i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="field mu_choice">
                <div class="radio">
                    <label>
                        <input type="radio" name="discount_type" formControlName="discount_type" [value]='2' [attr.disabled]="isDisabled? 'disabled':null">
                        เงื่อนไขตามบริษัท
                    </label>
                </div>
            </div>
            <div class="field mu_choice">
              <div class="radio">
                  <label>
                      <input type="radio" name="discount_type" formControlName="discount_type" [value]='0' [attr.disabled]="isDisabled? 'disabled':null">
                      ไม่มีส่วนลด
                  </label>
              </div>
          </div>
        </div>
        <div class="field">
            <label>วิธีการชำระเงิน</label>
            <div class="field mu_choice">
                <div class="radio">
                    <label>
                        <input type="radio" formControlName="pay_method" [value]="1" [attr.disabled]="isDisabled? 'disabled':null">
                        โอนผ่านธนาคาร
                    </label>
                </div>
            </div>
            <div class="field mu_choice">
                <div class="radio">
                    <label>
                        <input type="radio" formControlName="pay_method" [value]="2" [attr.disabled]="isDisabled? 'disabled':null">
                        เงินสด
                    </label>
                </div>
            </div>
            <div class="grouped field mu_choice">
                <div class="radio">
                    <label>
                        <input type="radio" formControlName="pay_method" [value]="3" [attr.disabled]="isDisabled? 'disabled':null" #credit>
                        เครดิต
                    </label>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio"  formControlName="pay_credit" value="30" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="credit.checked? null:'disabled'">
                            30 วัน
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="pay_credit" value="45" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="credit.checked? null:'disabled'">
                            45 วัน
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="pay_credit" value="60" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="credit.checked? null:'disabled'">
                            60 วัน
                        </label>
                    </div>
                </div>
                <div class="field fix_choice">
                    <div class="radio">
                        <label>
                            <input type="radio" formControlName="pay_credit" value="order" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="credit.checked? null:'disabled'">
                            <input type="text" pattern="\d*" maxlength="3" [formControl]="filled_credit" [attr.disabled]="isDisabled? 'disabled':null" [attr.disabled]="credit.checked? null:'disabled'" appOnlyNumber><i class="mu_postfix">วัน</i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="field">
            <div class="ui error message" invalidmessage="pay_method">
                <p *invalidType="'required'">{{errorMsg.required}}</p>
            </div>
        </div> -->
        <div class="field" *ngIf="formg.get('pay_method').value == 1">
            <label>เงื่อนไขการวางบิล</label>
            <textarea placeholder="เงื่อนไขการวางบิล" rows="3" formControlName="cond_bill" [attr.disabled]="isDisabled? 'disabled':null"></textarea>
        </div>
        <div class="field" *ngIf="formg.get('pay_method').value == 1">
            <label>เงื่อนไขการรับเช็ค</label>
            <textarea placeholder="เงื่อนไขการรับเช็ค" rows="3" formControlName="cond_cheque" [attr.disabled]="isDisabled? 'disabled':null"></textarea>
        </div>
        <div class="field ui input">
            <label>วงเงินเครดิตที่ต้องการ <i class="red"> * </i></label>
            <input appLetterAndComma placeholder="วงเงินที่ต้องการ" type="text" [formControl]="formg.get('loan_amount')" [attr.disabled]="isDisabled? 'disabled':null">
            <div class="ui error message" invalidmessage="loan_amount">
                <p *invalidType="'required'">{{errorMsg.required}}</p>
            </div>
        </div>
        <div class="field">
            <label>หมายเหตุ</label>
            <textarea placeholder="หมายเหตุ" rows="3" formControlName="remark" [attr.disabled]="isDisabled? 'disabled':null"></textarea>
        </div>
        <div class="field ui input">
            <label>ยอดคาดหวังต่อเดือน</label>
            <input appLetterAndComma placeholder="ยอดคาดหวังต่อเดือน" type="text" [formControl]="formg.get('expected_income')" [attr.disabled]="isDisabled? 'disabled':null">
        </div>
        <div class="mu_uploader">
            <label>ไฟล์แนบ <i class="red"> * </i></label>
            <app-uploadlist [items]="uploadedList" (onDeleteFile)="deleteFile($event)"></app-uploadlist>
            <app-uploadfile (onUpload)="onUpload($event)"></app-uploadfile>
            <p class="red">ขนาดไม่เกิน 200 MB (.png, .jpg, .txt, .pdf, .doc, .docx, .xls, .xlsx)</p>
            <div class="ui error message" *ngIf="uploadedList.length <= 0 && formref.submitted" >
                <p >กรุณาอัพโหลดไฟล์อย่างน้อย 1 รายการ</p>
            </div>
        </div>
        <div class="field center">
            <button class="ui button grey" type="button" (click)="back()" [disabled]="loading || disablebtn"><i class="icon chevron left"></i></button>
            <button class="ui button green" [ngClass]="{loading:loading}" [disabled]="loading || disablebtn" type="submit">ถัดไป</button>
        </div>
    </form>
</div>