<app-step-customer current="payment"></app-step-customer>
<app-payment-form *ngIf="isFullFillComplete;else loadingelem" (onBack)="onBack($event)" (onSubmit)="onSubmit($event)" (onDelteFile)="deleteFile($event)" [loading]="loading" [prefilldata]="prefillData"></app-payment-form>
<ng-template #loadingelem>
    <div class="ui segment minheight-m" >
        <div class="ui active loader"></div>
        <p></p>
    </div>
</ng-template>