<md-sidenav class="sidebar" [opened]="isOpen" mode="push" disableClose>
  <div class="ui vertical menu">
    <div class="item clickable" [routerLink]="['/customer/list']" routerLinkActive="active" *cfdisplaysecure="1">
      <i class="icon users"></i>
      <p>ลูกค้า</p>
    </div>
    <div class="item clickable" [routerLink]="['/order/list']" routerLinkActive="active" *cfdisplaysecure="2">
      <i class="icon file text"></i>
      <p>รายการสั่งซื้อ</p>
    </div>
    <div class="item clickable" [routerLink]="['/inventory/list']" routerLinkActive="active" *cfdisplaysecure="3">
      <i class="icon shop"></i>
      <p>คลังสินค้า</p>
    </div>
    <div class="item clickable" [routerLink]="['/profile']" routerLinkActive="active">
      <i class="icon user"></i>
      <p>บัญชีของฉัน</p>
    </div>
    <div class="item clickable logout" (click)="logout()" [ngClass]="{loading:logout_loading}">
      <i class="icon sign out"></i>
      <p>ออกจากระบบ</p>
    </div>
  </div>
</md-sidenav>
