.sidebar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#14242e+0,223b4e+100 */
    background: rgb(20,36,46); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(20,36,46,1) 0%, rgba(34,59,78,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(20,36,46,1) 0%,rgba(34,59,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(20,36,46,1) 0%,rgba(34,59,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14242e', endColorstr='#223b4e',GradientType=1 ); /* IE6-9 */
    padding-top: 50px;
    position: fixed;
    width: 120px;
    .menu {
        text-align: center;
        width: 100%;
        font-size: 18px;
        box-shadow: none;
        border: none;
        background-color: inherit;
        .item {
            height: 100px;
            color: white;
            padding-top: 20px;
            i.icon {
                float: none;
                font-size: 24px;
                margin-left: 0;
                margin-bottom: 15px;
            }
            p {
                font-family: 'Quark-Bold'!important;
            }
            &:hover {
                @extend .active;
            }
        }
        .active {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d8401+0,6dac16+100 */
            background: rgb(77,132,1); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(77,132,1,1) 0%, rgba(109,172,22,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(77,132,1,1) 0%,rgba(109,172,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(77,132,1,1) 0%,rgba(109,172,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d8401', endColorstr='#6dac16',GradientType=1 ); /* IE6-9 */
        }
        .active.logout {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#870101+0,ce1a1a+100 */
            background: rgb(135,1,1); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(135,1,1,1) 0%, rgba(206,26,26,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(135,1,1,1) 0%,rgba(206,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(135,1,1,1) 0%,rgba(206,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#870101', endColorstr='#ce1a1a',GradientType=1 ); /* IE6-9 */
        }
    }
}