<div [ngSwitch]="getState">
    <div *ngSwitchCase="'1'">loading</div>
    <div *ngSwitchCase="'2'">no data</div>
    <div [hidden]="getState != 3">
        <ng-content></ng-content>
    </div>
</div>