<ng-container *ngIf="!isLoading;else loaddisplay">
    <app-order-form-add-container (loading)="loading($event)">
        <div class="add_product right">
            <button class="ui button yellow" (click)="add_product()">+ เพิ่มรายการสินค้า</button>
        </div>
    </app-order-form-add-container>

</ng-container>
<ng-template #loaddisplay>
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <p></p>
</ng-template>