$border-color: #f4f4f4;
.item {
  width: 100%;
  position: relative;
  border: 1px solid $border-color;
  background-color: white;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .info {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 25px;
    p {
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 4px;
    }
    .cus_name {
      font-family: "Quark-Bold";
      font-size: 16px;
      color: rgb(92, 141, 24);
    }
    .cus_tel {
      color: #b1b1b1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .status {
    position: absolute;
    right: 25px;
    top: 9px;
    .status_box {
      font-family: "Quark-Light";
      font-size: 15px;
      float: right;
      width: 80px;
      height: 24px;
      padding-top: 2px;
    }
    .reject {
      color: rgb(178, 10, 10);
    }
    .approve,
    .pending {
      color: rgb(92, 141, 24);
    }
    .edit {
      color: #ecc600;
    }
  }
  .time {
    position: absolute;
    right: 25px;
    top: 60%;
    transform: translate(0, -60%);
    margin-bottom: 0;
    font-size: 13px;
  }
}
