<div class="item clickable" (click)="output.next(model)">
  <div class="info">
    <p class="cus_name">{{model?.name}}</p>
    <p class="cus_id">#{{model?.id}}</p>
    <p class="cus_tel"><i class="icon phone"></i>{{model?.phone_number}}</p>
  </div>
  <div class="status right">
    <p class="status_box" [ngClass]="ngClass">{{model?.status_text}}</p>
  </div>
  <p class="time">{{model?.time}}</p>
</div>
