<app-order-form [prefilldata]="prefilldata" [type]="type" (onSubmit)="onSubmit($event)">
    <ng-content></ng-content> 
    <app-order-productlist-add-container></app-order-productlist-add-container>   
    
</app-order-form>