<div class="item clickable" (click)="output.next(model)">
    <div class="info">
        <p class="pod">{{model?.preorder_id}}</p>
        <p class="quantity">{{model?.list_quantity}}</p>
        <p class="price">ราคาสุทธิ {{model?.total_price}}</p>
    </div>
    <div class="status right">
        <p class="status_box" [ngClass]="ngClass">{{model?.status_text}}</p>
    </div>
</div>
