.item {
    width: 100%;
    position: relative;
    font-family: 'Quark-Light';
    border: 1px solid #F4F4F4;
    background-color: white;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
    .info {
        width: calc(100% - 100px);
        float: left;
        padding: 10px 0 3px 25px;
        p {
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 4px;
        }
        .pod {
            color: rgb(92, 141, 24);
            font-family: 'Quark-Bold';
        }
        .price {
            color: #B1B1B1;
        }
    }
    .status {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        .reject {
            color: rgb(178, 10, 10);
        }
        .approve, .pending {
            color: rgb(92, 141, 24);
        }
        .edit {
            color: #ecc600;
        }
    }
}