<app-pagination-eve (onChange)="pageChange($event)" [total]="total" name="page" [(ngModel)]="intialpage" [size]="intialsize" class="pagination-eve"></app-pagination-eve>
<app-sizination-eve (onChange)="sizeChange($event)" [(ngModel)]="intialsize" [sizeAvailable]="sizeAvailable" class="sizination-eve"></app-sizination-eve>

