<app-order-form-view-container *ngIf="!loading">
    <div class="wrap">
        <div class="remain">
            <p>จำนวน SO คงเหลือ {{so_left}}</p>
            <p>จำนวน Invoice คงเหลือ {{invoice_left}}</p>
        </div>
        <div class="close_product">
                <button class="ui button red" (click)="close_product()" *ngIf="this.orderprefill.getPrefillData().status_text != 'ปิด'">ปิดการสั่งซื้อ</button>
        </div>
    </div>
</app-order-form-view-container>

