.remain {
    font-family: 'Quark-Light';
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 1em;
    float: left;
}
.close_product {
    float: right;
}
.wrap{
    &:after{
        clear: both;
        content:"";
        display: block;
    }
}