<app-step-customer current="address"></app-step-customer>
<app-address-form *ngIf="hasGetData; else loading" (onBack)="onBack($event)" (onSubmit)="onSubmit($event)" [prefilldata]="prefillData"></app-address-form>
<ng-template #loading>
    <div class="ui segment minheight-m" >
        <div class="ui active loader"></div>
        <p></p>
    </div>
</ng-template>