.subtop {
    width: calc(100% - 120px);
    height: 50px;
    background-color: white;
    padding: 5px 25px;
    z-index: 2;
    box-shadow: 0 2px 2px #d0d0d0;
    position: absolute;
    @media only screen and (max-width: 1200px) {
        width: 100%;
        left: 0;
    }
}