.address-comp {
    margin-bottom: 20px;
    .field {
        label {
            font-size: 18px;
        }
    }
}

.ui.checkbox {
    margin-bottom: 13px;
    font-weight: 200;
    backface-visibility: initial;
}