<div class="address-comp" [formGroup]="address">
    <!--<p class="mock">{{address.value | json }}</p>-->
    <div class="field">
        <label>
            ที่อยู่
            <i class="red"> * </i>
        </label>
        <div class="ui input">
            <input type="text" placeholder="ที่อยู่" formControlName="address" textNoResults="ไม่มีข้อมูล" textSearching="รอซักครู่" [attr.disabled]="singleDisabled? 'disabled':null">
        </div>
        <div class="ui error message" invalidmessage="address">
            <p *invalidType="'required'">{{errorMsg.required}}</p>
        </div>
    </div>
    <div class="field">
        <label>
            จังหวัด
            <i class="red"> * </i>
        </label>
        <!-- <sm-select placeholder="จังหวัด" [control]="address.get('province')" [disabled]="singleDisabled" (onChange)="resetDistrict(true)" #selectprovince>
            <option *ngFor="let opt of province;" [value]="opt.id">
                {{opt.text}}
            </option>
        </sm-select> -->
        <ng2-completer placeholder="จังหวัด" [minSearchLength]="1" [formControl]="address.get('province')" textNoResults="ไม่มีข้อมูล"  textSearching="รอซักครู่" [datasource]="province" ></ng2-completer>
 
        <div class="ui error message" invalidmessage="province">
            <p *invalidType="'required'">{{errorMsg.required}}</p>
        </div>
    </div>
    <div class="field">
        <label>
            อำเภอ
            <i class="red"> * </i>
        </label>
       
        <!-- <sm-select placeholder="อำเภอ" [control]="address.get('city')" [disabled]="singleDisabled || !address.get('province').value" (onChange)="resetDistrict(false)" #selectdistrict>
            <option *ngFor="let opt of district;" value="{{opt.id}}">
                {{opt.text}}
            </option>
        </sm-select> -->
        <ng2-completer [minSearchLength]="1" placeholder="อำเภอ" [formControl]="address.get('city')" textNoResults="ไม่มีข้อมูล" textSearching="รอซักครู่" [datasource]="district" ></ng2-completer>
       
        <div class="ui error message" invalidmessage="city">
            <p *invalidType="'required'">{{errorMsg.required}}</p>
        </div>
    </div>
    <div class="field">
        <label>
            ตำบล
            <i class="red"> * </i>
        </label>
        <ng2-completer placeholder="ตำบล" [minSearchLength]="1" textNoResults="ไม่มีข้อมูล"  [formControl]="address.get('district')" [datasource]="sub_district" ></ng2-completer>
        
  
        <!-- <sm-select placeholder="ตำบล" [control]="address.get('district')" [disabled]="singleDisabled || !address.get('city').value" #selectsubdistrict>
            <option *ngFor="let opt of sub_district;" value="{{opt.id}}">
                {{opt.text}}
            </option>
        </sm-select> -->
        <div class="ui error message" invalidmessage="district">
            <p *invalidType="'required'">{{errorMsg.required}}</p>
        </div>
    </div>
    <div class="field">
        <label>
            รหัสไปรษณีย์
            <i class="red"> * </i>
        </label>
        <div class="ui input">
            <input appOnlyNumber placeholder="รหัสไปรษณีย์" type="text" [formControl]="address.get('postcode')" [attr.disabled]="singleDisabled? 'disabled':null">
        </div>
        <div class="ui error message" invalidmessage="postcode">
            <p *invalidType="'required'">{{errorMsg.required}}</p>
        </div>
    </div>
</div>