
.product-item.selected {
    transform: scale(1.4);
        // border: 1px solid #91ca7b;
    box-shadow: 0 3px 6px rgba(68, 96, 68, .3);
    // border-bottom: 2px solid rgba(100, 100, 100, 1);
    &:after{
        display: block;
        // height:0;
        width:100%;
        background-color: rgba(0,0,0,0);
    }
}
.product-item {
    width: 120px;
    height: 120px;
    margin: 1em;
    background-size: cover;
    background-position: center center;
    transition: transform .3s ease-in-out,box-shadow .3s;
    transform: scale(1);
    position: relative;
   
    // box-shadow:inset 0px -120px 0px rgba(0, 0, 0, .4);
   
    &:after{
        display: block;
        height:100%;
        width:100%;
        content:"";
        background-color: rgba(0,0,0,.4);
        transition: background-color .4s ease-out;
        position: absolute;
        left:0;
        bottom:0;
    }
}
.product-hoverable{
     &:hover {
       @extend .product-item.selected;   
       cursor: pointer;
    }
    
}
.OP-form {
    padding: 10px;
    .wrapper {
        width: 75%;
        max-width: 300px;
        margin: 0 auto 2em;
        .unit {
            padding: .6em 1em 0;
            font-size: 16px;
        }
    }
}
