<form class="OP-form ui form error" [formGroup]="formg">
    <div class="center" *ngIf="mode != 'view'">
        <h3 class="ui header">กรุณาเลือกประเภทสินค้า</h3>
    </div>
    <cf-select formControlName="product">
        <cf-choice #choice  *ngFor="let opt of productChoice;" [value]="opt.id" >
            <div class="product-item" [ngClass]="{selected: choice.isSelected,'product-hoverable':this.mode !=='view'}" [ngStyle]="{'background-image': 'url(' + opt.picture_src + ')'}"></div>
        </cf-choice>
    </cf-select>
    <div class="ui error message" invalidmessage="product">
        <p>กรุณากรอกข้อมูลให้ครบ</p>
    </div>
    <div class="wrapper">
        <div class="field">
            <label>โมเดล</label>
            <sm-select placeholder="เลือกโมเดล" [control]="formg.get('model')" [disabled]="!formg.get('product').value || isDisabled" (onChange)="reset_stepInput(1)" #selectmodel>
                <option *ngFor="let opt of modelChoice;" [value]="opt.id">
                    {{opt.text}}
                </option>
            </sm-select>
            <div class="ui error message" invalidmessage="model">
                <p>กรุณากรอกข้อมูลให้ครบ</p>
            </div>
        </div>
        <div class="field">
            <label>หน่วย</label>
            <sm-select placeholder="เลือกหน่วย" [control]="formg.get('units')" [disabled]="!formg.get('model').value || isDisabled" #selectunits>
                <option *ngFor="let opt of unitsChoice;" [value]="opt.id">
                    {{opt.text}}
                </option>
            </sm-select>
            <div class="ui error message" invalidmessage="units">
                <p>กรุณากรอกข้อมูลให้ครบ</p>
            </div>
        </div>
        <div class="field">
            <label>จำนวน</label>
            <div class="ui input">
                <input placeholder="จำนวน" type="number" formControlName="quantity" (input)="cal_totalprice()">
            </div>
            <div class="ui error message" invalidmessage="quantity">
                <p>กรุณากรอกข้อมูลให้ครบ</p>
            </div>
        </div>
        <div class="field">
            <label>ราคา</label>
            <div class="ui input">
                <input placeholder="ราคา"commainput type="text" formControlName="price" (input)="cal_totalprice()" [attr.disabled]="(!formg.get('units').value || isDisabled)? 'disabled' : null">
                <p class="unit">บาท</p>
            </div>
            <div class="ui error message" invalidmessage="price">
                <p>กรุณากรอกข้อมูลให้ครบ</p>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <label>ส่วนลด</label>
            <div class="ui input">
                <input placeholder="ส่วนลดพิเศษ" type="number" formControlName="sp_discount" (input)="onDiscount_pct()">
                <p class="unit">%</p>
            </div>
            <div class="ui error message" invalidmessage="sp_discount">
                <p *invalidType="'required'">กรุณากรอกข้อมูลให้ถูกต้อง</p>
                <p *invalidType="'validatePercent'">ส่วนลดพิเศษต้องอยู่ในช่วง 0-100</p>
            </div>
        </div>
        <div class="field">
            <label>ยอดส่วนลด</label>
            <div class="ui input">
                <input placeholder="ส่วนลด" type="text" formControlName="discount" (input)="onDiscount_bth()" commainput>
                <p class="unit">บาท</p>
            </div>
            <div class="ui error message" invalidmessage="discount">
                <p>กรุณากรอกข้อมูลให้ครบ</p>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <label>ราคารวม <small class="red">*ราคานี้รวม VAT 7% แล้ว</small></label>
            <div class="ui input">
                <input type="text" formControlName="total_price" disabled commainput>
                <p class="unit">บาท</p>
            </div>
        </div>
        <div class="field" *ngIf="canScreen">
            <div class="ui checkbox">
                <input type="checkbox" formControlName="isScreen">
                <label>สกรีนกล่อง</label>
            </div>
        </div>
    </div>
    <div class="field center">
        <button class="ui button grey" type="button" (click)="back()"><i class="icon chevron left"></i></button>
        <button class="ui button green" [disabled]="loading" *ngIf="hasSubmit" [ngClass]="{loading:loading}" type="submit" (click)="submit()">บันทึก</button>
    </div>
</form>