.pick_addr {
    width: 100%;
    height: 48px;
    padding: 5px 25px;
}
.order-form {
    padding: 1em;
    padding-bottom: calc(1em + 20px);
    font-family: 'Quark-Light';
    .info {
        position: relative;
        margin-bottom: 30px;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .pod {
            width: 50%;
            float: left;
        }
        .price {
            width: 50%;
            float: right;
            text-align: right;
        }
        .customer_name {
            width: 50%;
            float: left;
        }
        .status {
            position: absolute;
            bottom: 1em;
            right: 30px;
            width: 80px;
            height: 24px;
            text-align: center;
            border-radius: 20px;
            color: white;
        }
        p {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }
    .form {
        label {
            margin-bottom: 5px;
            font-size: 16px;
        }
        .ui.input {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

.positive {
  background-color: green;
}

.alert {
  background-color: red;
}

.negative {
  background-color: grey;
}

.save {
  position: relative;
  .remark {
    position: absolute;
    bottom: -22px;
    left: 2px;
  }
}