<div class="pick_addr">
    <sm-select #shipmentselect placeholder="เลือกที่อยู่ (สำหรับจัดส่ง)" (onChange)="onShipmentSelect($event)" [control]="formg?.get('shipment')">
        <option *ngFor="let shipment of shipmentlist" [value]="shipment.value"> {{shipment.text}}</option>
    </sm-select>
</div>
<div class="order-form">
    <div class="info">
        <div class="pod">
            <p>{{order_id}}</p>
        </div>
        <div class="price">
            <p>ราคาสุทธิ {{(total_price || 0) | moneypipe}} บาท</p>
        </div>
        <div class="customer_name">
            <p>ลูกค้า {{customer_name}}</p>
        </div>
        <div class="status" [ngClass]="{positive: status_text === 'อนุมัติ' || status_text === 'รออนุมัติ' || status_text === 'เปิด', alert: status_text === 'ไม่อนุมัติ', negative: status_text === 'ดราฟ'}">
            <p class="status_box">{{status_text}}</p>
        </div>
    </div>
    <form class="ui error form" [formGroup]="formg">
        <div class="ui error message" invalidmessage="shipment">
            <p>กรุณาเลือกที่อยู่ในการจัดส่ง</p>
        </div>
        <div class="field">
            <label>ที่อยู่ (สำหรับจัดส่ง)</label>
            <div class="ui input">
                <input type="text" placeholder="ที่อยู่" formControlName="address">
            </div>
        </div>
        <div class="field">
            <label>จังหวัด</label>
            <div class="ui input">
                <input type="text" placeholder="จังหวัด" formControlName="province">
            </div>
        </div>
        <div class="field">
            <label>อำเภอ</label>
            <div class="ui input">
                <input type="text" placeholder="อำเภอ" formControlName="district">
            </div>
        </div>
        <div class="field">
            <label>ตำบล</label>
            <div class="ui input">
                <input type="text" placeholder="ตำบล" formControlName="sub_district">
            </div>
        </div>
        <div class="field">
            <label>รหัสไปรษณีย์</label>
            <div class="ui input">
                <input type="text" placeholder="รหัสไปรษณีย์" formControlName="zipcode">
            </div>
        </div>
        <div class="field">
            <label>วันที่สั่งซื้อ</label>
            <div class="ui input">
                <input type="text" placeholder="รหัสไปรษณีย์" [value]="today" disabled>
            </div>
        </div>
        <div class="field">
            <label>วันที่จัดส่ง</label>
            <div class="datepicker">
                <my-date-picker placeholder="dd/mm/yyyy" formControlName="myDate" [options]="myDatePickerOptions"></my-date-picker>
            </div>
        </div>
        <div class="ui error message" invalidmessage="myDate">
            <p>กรุณาเลือกวันที่จัดส่ง</p>
        </div>
         <div class="field">
            <label>หมายเหตุ</label>
            <textarea rows="2" formControlName="remark"></textarea>
        </div>
        <div>
            <ng-content></ng-content>
        </div>
        <div class="center" *ngIf="type != 'ORDERVIEW'">
          <button class="ui button grey" (click)="draft()">บันทึกแบบดราฟ</button>
          <button class="ui button green save" (click)="submit()">
            ส่งไปยัง admin
          </button>
        </div>
    </form>
</div>