/* You can add global styles to this file, and also import other style files */
@import "./reuse-class.scss";

@font-face {
  font-family: 'Quark-Bold';
  src: url('./assets/fonts/Quark-Bold/Quark-Bold.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Quark-Bold/Quark-Bold.otf')  format('opentype'),
		url('./assets/fonts/Quark-Bold/Quark-Bold.woff') format('woff'), url('./assets/fonts/Quark-Bold/Quark-Bold.ttf')  format('truetype'), url('./assets/fonts/Quark-Bold/Quark-Bold.svg#Quark-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quark-Light';
  src: url('./assets/fonts/Quark-Light/Quark-Light.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Quark-Light/Quark-Light.otf')  format('opentype'),
		url('./assets/fonts/Quark-Light/Quark-Light.woff') format('woff'), url('./assets/fonts/Quark-Light/Quark-Light.ttf')  format('truetype'), url('./assets/fonts/Quark-Light/Quark-Light.svg#Quark-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ui {
    label, button {
        font-family: 'Quark-Light'!important;
        font-size: 16px!important;
    }
    p, a {
        font-family: 'Quark-Light'!important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quark-Bold'!important;
}
h3 {
    font-size: 20px!important;
}
h4 {
    font-size: 18px!important;
}

.fix-dropdown-width {
    min-width: 70%!important;
}

.fix_choice {
    margin: 1em 0 0!important;
}

.mock{
    border:1px solid red;
    padding:5px 10px;
    border-radius: 1px;
}
.minheight-m{
    min-height: 300px;
}

.mydp .mydpicon {
    font-family: mydatepicker!important;
}

.mydp {
    input {
        border: none!important;
    }
}

.ui.dropdown {
    width: 100%;
}

table {
    border-color: green!important;
    .cft-thead {
        background-color: green;
        tr {
            .cft-th {
                color: white!important;
                background-color: inherit!important;
            }
        }
    }
}

.ui.table {
    border-collapse: collapse!important;
}
.ui.table tr td {
    border-top: none!important;
}

table {
  border: none!important;
  thead {
      font-family: 'Quark-Light';
      font-size: 1.4em;
      tr {
          th {
              border-bottom: none!important;
              color: white!important;
              background-color: #7AC043!important;
          }
      }
  }
  tbody {
      font-family: 'Quark-Light';
      font-size: 1.2em;
      td:nth-child(1) {
          font-family: 'Quark-Bold';
      }
      tr {
          border-bottom: none;
          &:nth-child(odd) {
              background-color: #F0F8E0;
          }
          &:nth-child(even) {
              background-color: #D9EDB2;
          }
          td {
              border: none;
          }
      }
  }
}

table.link {
    .cft-tbody {
        tr:hover {
            cursor: pointer;
            background-color: #e6e6e6;
        }
    }
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}

.add_product {
    margin-bottom: 1em;
    button {
        padding: 12px;
    }
}
.full{
    width: 100%;
    
    position: relative;
    max-width: 700px;
    margin:0 auto;
}
.half {
    @extend .full;

    .ui.search {
        width: calc(100% - 220px);
        
    }
    .field {
        width: 200px!important;
        position: absolute;
        right:0;
        top:0px;
    }
}
.mat-sidenav-container {
    height: 100%;
    background-color: #F0F0F0;
}

button {
    box-shadow: 2px 2px 2px #d6d6d6!important;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 9px;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.full-loader{
    height: 100%;
}

.list > .wrapper {
  padding: 0!important;
}
.pagination-wrapper{
    padding-top:10px;
    &:after{
        content:"";
        clear:both;
        display:block;
    }
}
.sizination{
    width: 200px;
    margin-top:5px;
    position:relative;
    top:-5px;
    float:right;   
}
.cf-nav{
    &:after{
        display: block;
        clear:both;
        content:"";
    }
}
.completer-dropdown-holder{
    width:100%;
}
.completer-dropdown{
    width: 100% !important;
    margin-top: 0 !important;
}
cftable{
    display: block !important;
    overflow-x: auto !important;
    margin-bottom: 10px;
}
.cft-table{
    margin-bottom: 10px !important;
}
.cft-th{
    min-width: 150px !important;
    padding:.62857143em .68571429em !important;
}