<div class="center">
    <app-step-container [current]="current" classname="ordered unstack mini three">
        <app-step address="general">
            <div class="title">ข้อมูลทั่วไป</div>
        </app-step>
        <app-step address="address">
            <div class="title">ข้อมูลที่อยู่</div>
        </app-step>
        <app-step address="payment">
            <div class="title">การชำระเงิน</div>
        </app-step>
    </app-step-container>
</div>