:host /deep/ app-step-container{
    div {
        width: auto!important;
    }
}
.center {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 770px;
}
.title {
    font-family: 'Quark-Light'!important;
    font-size: 16px!important;
}