.pnf {
    padding-top: 50px;
    .pnf_code {
        font-size: 10vh;
        margin: .5em;
    }
    .pnf_msg {
        font-size: 4vw;
    }
    .icon {
        margin-top: .3em;
        font-size: 15vh;
    }
}